# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/

# dbt
target/
dbt_packages/
logs/

# DuckDB
*.duckdb
*.duckdb.wal

# Meltano runtime
.meltano/
plugins/

# DQL runtime
dql-manifest.json
.dql/
*.run.json
.dql-user-prefs.json

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
